@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive {
  @media (max-width: 768px) {
    @content;
  }
}

.navbar {
  @include flex-center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: $secondary-color;
  color: $tertiary-color;

  .logo {
    @include flex-center;
    font-size: 1.5rem;
    font-weight: bold;

    img {
      margin-right: 0.5rem;
      cursor: pointer;
    }

    span {
      display: block;
    }

    p {
      margin: 0;
      font-size: 0.875rem;
      color: $tertiary-color;
    }
  }

  .navLinks {
    list-style: none;
    display: flex;
    gap: 2rem;
 

    li {
      cursor: pointer;
      Link{
        text-decoration: none;
        color: $tertiary-color;
      }
    }

    @include responsive {
      display: none;
    }
  }

  .authButtons {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .signupLogin {
      background-color: $primary-color;
      color: $secondary-color;
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
      border-radius: 4px;
    }

    .dropdownMenu {
      position: absolute;
      top: 100%;
      margin-top: 2px;
      right: 0;
      background-color: $secondary-color;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      width: 200px;

      a {
        padding: 1rem;
        text-align: left;
        text-decoration: none;
        color: $tertiary-color;

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }

    @include responsive {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
